{% extends 'base.html' %}
{% block body_block %}
<div class="container">
  <div class="jumbotron">
    <h1>Meta Reports</h1>
  </div>
  <div class="container">
    <p>Click <a href="{% url 'analysis:create_meta_report' %}">here</a> to create a meta report.</p>
    {% if object_list %}
      <ul class="list-group">
        {% for meta_report in object_list %}
          <li class="list-group-item"><a href="{% url 'analysis:meta_report_detail' meta_report.pk %}">{{ meta_report.title }}</a></li>
        {% endfor %}
      </ul>
    {% else %}
    <p>There are no meta reports yet.</p>
    {% endif %}
  </div>  
{% endblock %}
