{% extends 'base.html' %}
{% load bootstrap4 %}
{% block body_block %}
<div class="container-fluid">
  <div class="container jumbotron">
    <h3>Import Raw CSV Data</h3>
  </div>
  <div class="container">
  <div class="row">
  <div class="col-sm-auto">
    <form method="post" enctype="multipart/form-data">
      {% csrf_token %}
      {% bootstrap_form form %}
      <input type="submit" value="Import" class="btn btn-primary">
    </form>
  </div> 
  </div>
  <br>
  <hr>
  <div class="row">
  <div class="col-md-auto">
    <h4>CSV format requirements</h4>
    <br>
    <ul class="list-group">
      <li class="list-group-item">
        <p>The columns must follow the following header:</p>
        <table class="table table-bordered">
          <thead>
            <th>A</th><th>B</th><th>C</th><th>D</th><th>E</th><th>F</th><th>G</th>
          </thead>
          <tbody>
            <tr>
              <td>Date/Time</td><td>Date</td><td>Time</td><td>ValueQuality Code</td><td>Interploation Type</td><td>Empty</td><td>tagComments</td>
            </tr>
          </tbody>
        </table>
      </li>
      <li class="list-group-item">
        <p>The csv files must use a comma as the delimiter.</p>
        <p>Example:</p>
        <div class="container precode">
           <pre>08/16/2012 12:00:00,08/16/2012,12:00:00,-12.08,1135,101</pre>
        </div> 		
      </li>
      <li class="list-group-item">The first row will not be read so please make sure your files contain a header as the first row</li>
   </ul> 
  </div>
  </div>
  </div>
  {% if messages %}
  <div class="container">
    <h3><i>Errors:</i></h3>
    <pre>
    {% for message in messages %}
      {{ message }}
    {% endfor %}
    </pre>
  </div>
</div>
{% endif %}
{% endblock %}
