{% extends 'base.html' %}
{% block body_block %}
<div class="container">
  <div class="jumbotron">
    <h1>Well Reports</h1>
  </div>
  <div class="container">
    {% if object_list %}
      <ul>
        {% for wellreport in object_list %}
          <li><a href="{{ wellreport.get_absolute_url }}">{{ wellreport.title }}</a></li>
        {% endfor %}
      </ul>
    {% else %}
    <p>There are no reports yet.</p>
    <p>Click <a href="{% url 'analysis:create_report' %}">here</a> to create reports</p>
    {% endif %}
  </div>  
{% endblock %}
