{% extends 'base.html' %}
{% block body_block %}
<div class="container">
  <div class="container">
    <h3>{{ object.title }}</h3>
  </div>
  <div class="container">
    <img src="/{{ object.graph }}"><br>
    <p>Mean: {{ object.mean|floatformat:-2 }} {{ object.unit }}</p>
    <p>Minumum: {{ object.minimum }} {{ object.unit }}</p>
    <p>Maximium: {{ object.maximum }} {{ object.unit }}</p>
    <p>First Reading: {{ object.first }} {{ object.unit }} on {{ object.first_date|date:"m/d/y" }}</p>
    <p>Last Reading: {{ object.last }} {{ object.unit }} on {{ object.last_date|date:"m/d/y" }}</p> 
    <p>Total Readings: {{ object.total_readings }}</p> 
    <p><i>This report was created by {{ object.user }} on {{ object.creation_date }}.</i></p>
  </div>
</div>  
{% endblock %}
